<nav class="navbar navbar-light">
  <div class="container">
    <a
      class="navbar-brand"
      href="index.html"
      [class.highlight]="highlightTitle"
      [style.font-size.px]="fontSize"
      >conduit</a
    >
    <input
      class="form-control form-control-sm search-input"
      type="text"
      placeholder="Keyword"
      [(ngModel)]="keyword"
    />
    <!-- a-ngModel -->
    <button class="btn btn-sm btn-primary" (click)="search($event)">
      <i class="ion-search"></i>
    </button>
    <span *ngIf="keyword === ''; else search1" class="highlight"
      >請輸入查詢條件
    </span>
    <ng-template #search1
      ><span>你輸入的文字是:{{ keyword }}</span></ng-template
    >
  </div>
</nav>
